packaging/arch/t1bridge/PKGBUILD export-ignore
packaging/arch/t1bridge-dkms/PKGBUILD export-ignore
kernel/uvcvideo-t1/upstream/*.patch whitespace=-blank-at-eol,-space-before-tab
packaging/arch/libfprint-t1bridge/*.patch whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
packaging/arch/fprintd-t1bridge/*.patch whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
kernel/uvcvideo-t1/uvc_v4l2.c whitespace=-blank-at-eof
